.vscode/
*.xlsx
*.csv
rice-field-background.png
index.html
gestionderepresentantes.html
detalles.html
representantes.html
*.sql
*.sqlite3
staticfiles/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/